main {
	min-height: 80vh;
}
a {
	text-decoration: none;
}
.rating span {
	margin: 0.1rem;
}
.card-body {
	padding: 5px;
}
h1 {
	font-size: 1.8rem;
	padding: 1 rem 0rem;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5 rem 0rem;
}
input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
	appearance: none;
}
Button {
	margin-top: 1em;
}
.headLogo {
	width: 200px;
	height: 100px;
}
.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}
* {
	font-family: 'Poppins', sans-serif;
}
main {
	background-color: #f2f6fb;
}
.form {
	background-color: white;
}
footer {
	background-color: #1e3250;
	color: white;
}
